body{
    background-color: #0F172A;
    font-family: 'Rubik', sans-serif;    
    color: white;
    display: flex;
    overflow: auto;   
    
}
header{
    justify-content: space-between;

}
main{
width: 100%;
height: 100vh; 
justify-items: center;
align-items: center;
}


h4{
    font-size: 0.8em;
}
a{
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, font-size 0.3s ease;
    width: 100px;
}
a:hover{
    font-size: 1.2em;
    width: 100px;
}

.icones {
    display: flex;
    
    
}
.icones a img{
    width: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.icones a img:hover{
    transform: scale(1.2);
    filter: brightness(1.5);
}

#caixa_esq, #caixa_dir{
margin: 10px;
/* background-color: black; */
width: 607px;
height: 100%;
margin-left: 250px;
margin-top: 80px;
padding: 1px;
}

#caixa_bott{
    background-color: bisque;
    width: 100%;
    height: 200px;
}

p{
    color: #8796B0;
    word-spacing: 0.2em;
}



#light {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(110, 151, 212, 0.1); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); 
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    filter: blur(20px);
    opacity: 0.7;
    background: radial-gradient(circle, rgba(110, 152, 241, 0.2) 10%,rgba(94, 115, 134, 0) 90%);
    
}

